html {
  font-family: 'roboto-regular';
}

body {
  margin: 0;
}

.wrapper{
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  margin-right: 63%;
  padding: 40px 0;
  font-size: 24px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  line-height: 21px;
}

.menu__item, .main__button {
  font-size: 18px;
  font-weight: 500;
}


.menu__item:last-child {
  padding-right: 0;
}

.main__title, .logo {
  font-family: 'ptserif-bold' ;
}

.main__title {
  font-size: 66px;
  line-height: 85px;
}

.main__subtitle {
  font-family: 'roboto-medium';
  font-size: 22px;
}

