html {
  font-family: 'roboto-regular';
}

body {
  margin: 0;
}

.wrapper{
  margin: auto;
  width: 80%;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  margin-right: 63%;
  padding: 40px 0;
  padding-left: 44px;
  font-size: 24px;
  position: relative;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  opacity: 70%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: 70%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  line-height: 21px;
  text-decoration: none;
  color: black;
}

.menu__item, .main__button {
  font-size: 18px;
  font-family: 'roboto-medium';
}

.menu__item:last-child {
  padding-right: 0;
}

.main__title, .logo {
  font-family: 'ptserif-bold' ;
}

.main__title {
  font-size: 66px;
  line-height: 85px;
}

.main__subtitle {
  font-size: 22px;
}

