html {
  font-family: 'roboto-regular';
}

body {
  margin: 0;
}

.wrapper{
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 143px;
}

.logo {
  position: relative;
  margin-right: 63%;
  padding: 40px 0 40px 44px;
  font: 700 24px/31px 'ptserif-bold';
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  opacity: 70%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: 70%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item, .main__button {
  font: 500 18px/21px 'roboto-medium';
}

.menu__item {
  position: relative;
  text-decoration: none;
  color: #000;
  margin-right: 26px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__title {
  font: 600 66px/85px 'ptserif-bold';
  margin: 0 0 40px 0;
}

.main__title_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  font: 400 22px/26px 'roboto-regular';
  margin: 0 0 41px 0;
  width: 455px;
}

.outer__image {
  display: inline-block;
  border: dashed 1px red;
}

.main__left {
  display: inline-block;
  width: 37%;
  padding-right: 189px;
}

.main__button {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #0056EC;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}


