/* font-family: roboto-regular */
@font-face {
  font-family: 'roboto-regular';
  src: url('/fonts/roboto-regular/roboto-regular.eot');
  src: url('/fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/roboto-regular/roboto-regular.woff2') format('woff2'),
       url('/fonts/roboto-regular/roboto-regular.woff') format('woff'),
       url('/fonts/roboto-regular/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* font-family: roboto-medium */
@font-face {
  font-family: 'roboto-medium';
  src: url('/fonts/roboto-medium/roboto-medium.eot');
  src: url('/fonts/roboto-medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/roboto-medium/roboto-medium.woff2') format('woff2'),
       url('/fonts/roboto-medium/roboto-medium.woff') format('woff'),
       url('/fonts/roboto-medium/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* font-family: ptserif-bold */
@font-face {
  font-family: 'ptserif-bold';
  src: url('/fonts/ptserif-bold/ptserif-bold.eot');
  src: url('/fonts/ptserif-bold/ptserif-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ptserif-bold/ptserif-bold.woff2') format('woff2'),
       url('/fonts/ptserif-bold/ptserif-bold.woff') format('woff'),
       url('/fonts/ptserif-bold/ptserif-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

